---
import {getPostUrlBySlug} from "@utils/url-utils";
import PostCard from "./PostCard.astro";
import type { Article } from "@/lib/newt";

const {page} = Astro.props;

let delay = 0
const interval = 50
---
<div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
    {(page as Article[]).map((entry) => {
        return (
            <PostCard
                    entry={entry}
                    title={entry.title}
                    tags={entry.tags.map((t) => t.name)}
                    category={entry.category.name}
                    published={new Date(entry._sys.raw.publishedAt)}
                    url={getPostUrlBySlug(entry.slug)}
                    image={entry.coverImage.src}
                    description={entry.meta.description}
                    draft={false}
                    class:list="onload-animation"
                    style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
            ></PostCard>
        );
    })}
</div>